node_modules/
dist/

*.class
*.py[cod]
*.log
*.jar

target/
.idea/

TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.git
.gitignore
.idea
.metadata
windows
analysis_options.yaml
build
pubspec.lock


# Miscellaneous

*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
.flutter-plugins/
migrate_working_dir/
linux/
# IntelliJ related
*.iml
*.ipr
*.iws

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.pub-cache/
.pub/
/build/
/windows/

app.*.symbols

app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release
